.table-container {
  max-height: 300px;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.table-container-2 {
  max-height: 150px;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.table-container-3 {
  max-height: 410px;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.table-container-4 {
  max-height: 770px;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b3b2b270;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #18275b3b;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.hero {
  position: relative;
}

.hero::after {
  content: '';
  background-image: url('./components/home/hero.png');
  position: absolute;
  display: block;
  width: 700px;
  height: 650px;
  background-size: contain;
  right: -200px;
  top: 0px;
  background-repeat: no-repeat;
}

/*HEADING*/
.display-heading {
  color: #18265b;
  font-size: 3.25rem;
  font-weight: 600;
  font-family: sans-serif;
  margin-bottom: 1.875rem;
  line-height: 1.22;
  overflow-wrap: break-word;
}

.display-heading2 {
  color: #18265b;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.875rem;
  line-height: 1.22;
  overflow-wrap: break-word;
}

/*RADIO BUTTON*/
.container-1 {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container-1 input {
  position: absolute;
  opacity: 0;
  margin-right: 100px;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;

  left: -20px;
  height: 25px;
  width: 25px;
  border-style: solid;
  border-width: 2px;
  border-color: #18275b41;
  background-color: #fff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-1:hover input ~ .checkmark {
  background-color: #18275b41;
}

/* When the radio button is checked, add a blue background */
.container-1 input:checked ~ .checkmark {
  background-color: #18265b;
}

/* Style the indicator (dot/circle) */
.container-1 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*RADIO BUTTON END*/

/*Menu Text*/
.table-active1 {
  font-weight: 600;
  color: #494f67;
}

.usercontainer {
  width: 500px;
  margin: auto;
}

.userheading {
  color: #18265b;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.22;
}

.userp {
  color: #18265b;
  font-weight: 600;
}

.useri {
  font-weight: 500;
  color: #494f67;
}

.margin-loading {
  margin-top: 250px;
}

.my-small-btn {
  width: 80px;
  padding: 50px;
}

.column-overflow {
  overflow: hidden;
}

.margin-row {
  line-height: 25px;
  min-height: 25px;
  height: 25px;
}

.col-width {
  width: 33%;
}
